@use "/src/styles/mixins" as *;

.show-details {
  padding: 1.6rem;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__back-button-icon {
    width: 100%;
    height: 100%;
  }

  &__back-button {
    width: 3rem;
    height: 3rem;
    text-align: left;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

    @include desktop {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__poster {
    width: 70%;
    max-width: 22rem;
    aspect-ratio: 42/59;
    object-fit: cover;
    border-radius: .8rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

    @include desktop {
      width: 18rem;
      max-width: none;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    font-size: 1.6rem;

    @include desktop {
      justify-content: flex-start;
    }
  }

  &__summary {
    line-height: 1.6;
    font-size: 1.6rem;
    color: #333;
  }

  &__episode-card {
      display: flex; 
      flex-direction: column; 
      gap: 0.4rem; 
      padding: 0.8rem; 
      border-radius: 1rem; 
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  }
}
