@use "/src/styles/mixins" as *;

.show-card {
    position: relative;
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    max-width: 210px;
    margin: 0 auto;
    
    &__poster-button {
        border-radius: .7rem;
        overflow: hidden;
    }
    
    &__poster {
        width: 100%;
        aspect-ratio: 42/59;
        height: auto;
        object-fit: cover;
        
        &:hover {
            transform: scale(1.1); 
        }
    }
    
    &__info {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
    }
    
    &__rating-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .4rem;
        font-size: 1.6rem;
        background-color: rgba(0,0,0,0.7);
        color: white;
        padding: .4rem;
        border-radius: .7rem;
        
        @include desktop {
            font-size: 1.4rem;
        }
    }
    
    &__rating-icon {
        color: gold;
        width: 1.8rem;
        height: 1.8rem;
        
        @include desktop {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
    
    &__favorite-button {
        width: 2.4rem;
        height: 2.4rem;
        
        @include desktop {
            width: 2.2rem;
            height: 2.2rem;
        }

        &:hover {
            fill: #f56565;
            stroke: #f56565;
        }
    }
}