.show-card {
    position: relative;
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    max-width: 210px;
    margin: 0 auto;
    
    &__poster-button {
        border-radius: .7rem;
        overflow: hidden;
    }
    
    &__poster {
        width: 100%;
        aspect-ratio: 42/59;
        height: auto;
        object-fit: cover;
        
        &:hover {
            transform: scale(1.1); 
        }
    }
    
    &__info {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        font-size: 1.6rem;
    }
}