@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 480px) { @content; }
    }
    @else if $breakpoint == tablet {
        @media screen and (min-width: 481px) and (max-width: 768px) { @content; }
    }
    @else if $breakpoint == desktop {
        @media screen and (min-width: 769px) { @content; }
    }
}

@mixin mobile { @include respond(mobile) { @content }}
@mixin tablet { @include respond(tablet) { @content }}
@mixin desktop { @include respond(desktop) { @content }}