@import "_fonts.scss";
@import "_mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 12px;
    
    @include respond(tablet) {
        font-size: 14px;
    }
    
    @include respond(desktop) {
        font-size: 16px;
    }
}

body {
    padding: 2rem;
}

ul {
    list-style: none;
}

li {
    display: block;
}
