@use "/src/styles/mixins" as *;

.favorite-button {
    width: 2.4rem;
    height: 2.4rem;
    
    @include desktop {
        width: 2.2rem;
        height: 2.2rem;
    }

    &__icon {
        width: 100%;
        height: 100%;
        
        &:hover {
            fill: #f56565;
            stroke: #f56565;
        }
    }
}