.error {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  border-radius: .6rem;
  background-color: #ffe5e5;
  color: #b30000;
  font-size: 1.6rem;

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}
