@use "/src/styles/mixins" as *;

.horizontal-list {
    width: 100%;
    margin-bottom: 1.4rem;

    &__title {
        margin-bottom: .6rem;
    }

    &__scroll-container {
        position: relative;
        width: 100%;
    }

    &__scroll-window {
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
    }
    
    &__list{
        display: flex;
        gap: 1rem;
    }

    &__show-card {
        width: 12rem;
        flex: 0 0 auto;
    }

    &__scroll-button {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.6);
        border-radius: .5rem;
        border: none;
        height: 40%;
        width: 4rem;
        color: white;

        &.right {
            right: 0;
        }

        &.left {
            left: 0;
        }

        &:hover {
            background-color: rgba(0,0,0,0.8);
        }

        &:hover .horizontal-list__scroll-button-icon {
            transform: scale(1.2);
        }
    }

    &__fallback-text {
        font-size: 1.6rem;

        @include desktop{
            font-size: 1.4rem;
        }
    }
}

