@use "/src/styles/mixins" as *;

.rating {
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: .4rem .8rem;
  border-radius: .6rem;

  &__icon {
      color: gold;
      fill: gold;
      width: 1.8rem;
      height: 1.8rem;
        
      @include desktop {
          width: 1.6rem;
          height: 1.6rem;
      }
  }
}