.rating {
  display: flex;
  align-items: center;
  gap: .4rem;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: .4rem .8rem;
  border-radius: .6rem;
//   font-size: 1.6rem;

  &__icon {
    color: gold;
  }
}