@use "/src/styles/mixins" as *;

.search-bar-container {
    width: 100%;
}

.search-bar {
    display: flex;
    gap: .8rem; 
    border: 1px solid gray;
    border-radius: 20px;
    padding: .8rem;
    align-items: center;
    height: 48px;
    max-width: 100%;
    margin: 0px auto;

    @include tablet {
        max-width: 70%;
    }
    @include desktop {
        max-width: 50%;
    }

    &__input-container {
        flex: 1; 
        display: flex;
        gap: .8rem; 
        align-items: center;
    }

    &__input {
        border: none;
        outline: none; 
        flex: 1; 
    }
    
    &__clear-button,
    &__cancel-button  {
        height: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
    }
}

